<div class="jumbotron">
  <h2>Welcome to <b>onetwostory</b> blog</h2>
  <p class="lead"></p>
</div>

<div>
  <a href="https://instagram.com/onetwostory">
    <p>Instagram <i class="fab fa-instgram"></i></p>
  </a>
</div>
